<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Proveedores</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../js/3.4.0.jquery.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/estilo.css">
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.8/vue.min.js"></script>
  <style type="text/css">
    input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

 

input[type=number] {

    -moz-appearance:textfield;

}
  </style>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">


  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
      <span id="myid"></span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
       
    <li class="dropdown">
      <a class="dropdown-toggle" id="minombre" data-toggle="dropdown" href="#"></a>
        <ul class="dropdown-menu">
          <li><a href="plantilla.html"  style=" background-color: black;"><span class="glyphicon glyphicon-list-alt"></span> Subir Plantilla</a></li>
          <li><a href="cashless.html"  style=" background-color: black;"><span class="glyphicon glyphicon-qrcode"></span>Cashless</a></li>
          <li><a href="ventas.html"  style=" background-color: black;"><span class="glyphicon glyphicon glyphicon-usd"></span> Ventas</a></li>
      <li><a href="#" onclick="logout()" style=" background-color: black;"><span class="glyphicon glyphicon glyphicon-lock"></span> Cerrar Sesión</a></li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</nav>






<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
<div class="col-sm-6" id="app">
<form class="form-horizontal" action="" @submit.prevent="enviarMensaje">
    <div class="form-group">
    <label class="control-label col-sm-2">Producto:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Nombre Completo del Producto" v-model="nombre">
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2">Marca:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Marca" v-model="marca">
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2">Precio:</label>
      <div class="col-sm-10">
        <input type="number" placeholder="precio" class="form-control" v-model="precio" maxlength="9" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" step="any" min="0">
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2">Descripción:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Descripción del producto" v-model="detalles">
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Agregar</button>
      </div>
    </div>
  </form>
  <!--  <pre>{{$data}}</pre> -->
    </div>
  
 </div>
</div>

<div class=" table" style="padding: 5px;" id="app2">
      <span>Detalle de productos</span>
      <table class="table table-bordered">
        <input type="text" id="filtrar" class="form-control" placeholder="Buscar ...">
    <thead>
      <tr class="info" style="">
        <th>Nombre del Producto</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Detalle</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody v-for="mensaje in mensajes" class="buscar">
      <tr>
        <td contenteditable="true" @blur="editarNombre($event, mensaje.key)">{{mensaje.nombre}}</td>
        <td contenteditable="true" @blur="editarMarca($event, mensaje.key)">{{mensaje.marca}}</td>
        <td contenteditable="true" @blur="editarPrecio($event, mensaje.key)">{{mensaje.precio}}</td>
        <td contenteditable="true" @blur="editarDetalles($event, mensaje.key)">{{mensaje.detalles}}</td>
        <td><button @click="eliminarMensaje(mensaje.key)" class="glyphicon glyphicon-trash"></button></td>
      </tr>
      
    </tbody>
  </table>
 <!--    <pre>{{$data}}</pre> -->
    
    </div>
 <a href="../img/plantilla.xlsm" target="_blank">Descargar plantilla de productos</a>
<!-- 
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
     
    </div>
    <div class="col-sm-8">
      <h2>NUESTROS VALORES</h2><br>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
    </div>
  </div>
</div> -->




<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Copyright 2020</p>
</footer>



<!-- AQUI EMPIEZA SCERIPT DE VUE AND FIREBASE-->
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDI6U0vWBHZY0pdkzbQd0NRqpcfY3uPrrk",
    authDomain: "cashless-c8e7b.firebaseapp.com",
    databaseURL: "https://cashless-c8e7b.firebaseio.com",
    projectId: "cashless-c8e7b",
    storageBucket: "cashless-c8e7b.appspot.com",
    messagingSenderId: "482722912691",
    appId: "1:482722912691:web:f8395fd37fef973f7ad3c6",
    measurementId: "G-QLM4ZSX74X"
  };
  firebase.initializeApp(config);


firebase.auth().onAuthStateChanged(function(user) {
  if (user) {


    // User is signed in.

    var user = firebase.auth().currentUser;
    console.log('usuario autentificado');
    var uid = user.uid;
    //document.getElementById("myid").innerHTML = uid;
    localStorage.setItem('uiid', uid);
     
    
    ver();

    if(user != null){
 
    }

  } else {
    // No user is signed in.

    console.log('usuario no logueadox')
window.location.href = 'index.html';
  }
});


  var valor = localStorage.getItem('uiid');



  const db = firebase.database();


// ++++++++++++++++++++++++++ INSTANCIA 1 ++++++++++++++++++++++++++++++++++++++++++++++
const vm =   new Vue({

        el: '#app',
        data: {
        nombre: null,
        marca: null,
        precio: null,
        detalles: null,
        mensajes: [],
        },
        methods: {
          enviarMensaje(){
          db.ref('/users/'+valor)
          .push({
            nombre: this.nombre,
            marca: this.marca,
            precio: this.precio,
            detalles: this.detalles,
            
          })
          .then((data) => {
            //Aqui borro lo que tiene el formulario y envio a consola el key de firebase
            this.nombre = '';
            this.marca = '';
            this.precio = '';
            this.detalles = '';

            console.log(data.key);
          });

        }
        }
  
      });

// ++++++++++++++++++++++++++ INSTANCIA 2 ++++++++++++++++++++++++++++++++++++++++++++++
const vm2 = new Vue({
  el: '#app2',
  created(){
          db.ref('/users/'+valor)
            .on('value', snapshot => this.cargarMensajes(snapshot.val()))
        },
  data: {
    mensajes: [],
  },
  methods: {
    cargarMensajes(mensajes){
          this.mensajes = [];
            for (let key in mensajes){
              
              this.mensajes.push({
                nombre: mensajes[key].nombre,
                marca: mensajes[key].marca,
                precio: mensajes[key].precio,
                detalles: mensajes[key].detalles,
                key: key,
              });
            }
        },
        editarNombre(mensaje, key){
          db.ref('/users/'+valor+'/' + key).update({
            nombre: mensaje.target.innerHTML,
          });
        },
        editarMarca(mensaje, key){
          db.ref('/users/'+valor+'/' + key).update({
            marca: mensaje.target.innerHTML,
          });
        },
        editarPrecio(mensaje, key){
          db.ref('/users/'+valor+'/' + key).update({
            precio: mensaje.target.innerHTML,
          });
        },
        editarDetalles(mensaje, key){
          db.ref('/users/'+valor+'/' + key).update({
            detalles: mensaje.target.innerHTML,
          });
        },
        eliminarMensaje(key){
          if(confirm('seguro?'))
            db.ref('/users/'+valor+'/' + key).remove();
        }
  }
});


$(document).ready(function () {

            (function ($) {

                $('#filtrar').keyup(function () {

                    var rex = new RegExp($(this).val(), 'i');
                  
                    $('.buscar tr').hide();
                    $('.buscar tr').filter(function () {
                        return rex.test($(this).text());
                          
                    }).show();
   
                });

            }(jQuery));
             

        });

function logout(){
  localStorage.clear();
  firebase.auth().signOut();
}

 function ver() {

      if(valor==null){
         window.location.href = 'home.html';
        }else{
         // console.log(valor);
         var db = firebase.firestore();
        docRef = db.collection("suppliers").doc(valor);

        docRef.get().then(function(doc) {
            if (doc.exists) {
              var myObject = doc.data();
        document.getElementById("minombre").innerHTML ="<span class='glyphicon glyphicon-user'></span> " + myObject.festand + "<span class='caret'></span>";

        //console.log(doc.data())
            } else {
                // doc.data() will be undefined in this case
                console.log("No such document!");
            }
        }).catch(function(error) {
            console.log("Error getting document:", error);
        });
        }

    }

</script>


<!-- esto funciona para usar la consola de vue-->
<script src="https://unpkg.com/vue@2.5.8/dist/vue.js"></script>

</body>
</html>
