.qrscanner video {
  max-width: 100%;
  max-height: 60%;
}

.row-element-set {
  display: flex;
  flex-direction: column;
}
.row-element {
  padding: .2em 0em;
}

.row-element-set-QRScanner
{
  max-width: 30em; 
  display: flex;
  flex-direction: column;
}

body
{
  display: flex;
  justify-content: center;
}

.form-field-caption {
  font-weight: bold;
}

.form-field-input
{
 width: 100%; 
}